.hottest p.commonPar {
    max-width: 700px;
}
.hottest {
    text-align: center;
    padding-bottom: 5rem;
}
.hottestCont {
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    color: #fff;
}
.promotion {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 650px;
    height: 260px;
    text-align: start;
    margin: 2px;
    background-size: cover;
}
.promotion > h5 {
    margin: 0;
    font-size: 2rem;
    max-width: 300px;
    padding: 0 2rem 2rem 0;
}
