.liveCarousel {
    background-color: #190825;
    color: #fff;
}
.liveCarousel h2 {
    max-width: 500px;
    margin: auto;
    line-height: 85%;
    padding: 2rem 0;
}
.liveCarousel .carousel .thumb {
    border-radius: 1rem;
    margin: auto;
    width: 10%;
    transform: translateX(550px) !important;
}
.liveCarousel .carousel .thumb.selected, .carousel .thumb:hover {
    border: 3px solid yellow;
}
.liveCarousel .carousel .thumbs-wrapper {
    padding: 20px;
    margin: 0;
}
.liveCarousel .carousel .slider-wrapper {
    background-color: #190825;
    width: 70%;
}
 .liveCarousel .carousel.carousel-slider {
    background-color: #190825;
}
.liveCarousel .carousel.carousel-slider .control-arrow {
    margin: 10%;
}
.liveCarousel .carousel.carousel-slider .control-arrow:hover {
    background: rgba(0,0,0,.0);
}
.liveCarousel .carousel .control-prev.control-arrow:before {
    content: '❮';
    border: 0;
    font-size: 3rem;
}
.liveCarousel .carousel .control-next.control-arrow:before {
    content: '❯';
    border: 0;
    font-size: 3rem;
}
li.slide:after {
    content: "";
}