.programsCarousel {
    direction: ltr;
    text-align: center;
    background-image: url("../pics/figureBG.png");
    padding-bottom: 80px;
}
.imYUvI {
    max-width: 1500px;
    margin: auto;
}
.programsCarouselChart > p {
    font-size: 1.5rem;
}
.programsCarouselCont {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #eee;
    color: #fff;
    padding: 0 15px 15px 0;
    background-size: cover;
}
.programsCarouselCont.bottomCont {
    justify-content: flex-end;
    align-items: flex-end;
}
.programsCarouselCont.centeredCont {
    justify-content: center;
}
.programsCarouselCont * {
    margin: 0;
}
.programsCarouselCont > h3 {
    font-size: 3rem;
}
.programsCarouselCont > h4 {
    font-size: 2rem;
}
.programsCarouselCont > p {
    font-size: 1.4rem;
}
.sc-ifAKCX button {
    border: none;
    font-size: 3rem;
    background: none;
    cursor: pointer;
}
.imYUvI {
    padding-bottom: 30px;
}